<?xml version="1.0"?>
 
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".rss" mimeType="application/rss+xml" />
        </staticContent>
    </system.webServer>
</configuration>